#header{
    width: 100%;
}
#main{
    width: 100%;
}
#footer{
    width: 100%;
}
// wrapper
.l-wrapper{
    display: flex;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    @include mq(){
        display: block;
        width: 100%;
    }
}
//main
.l-main{
    box-sizing: border-box;
    padding: 0 $space_m;
}
// header
.l-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 $space_xl;
    @include mq(){
        padding: initial;
    }
}
// form
.l-form{
    width: 100%;
}
// search
.l-search{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: $space_xl;
    border-bottom: 1px solid gray;
    background: rgba($color_dark, .1);
}
// hero
.l-hero{
    width: 100%;
    height: 700px;
}
//footer
.l-footer{
    background:$color_default;
    text-align: center;
    padding: $space_l 0;
    color: $font-color_default;
}

