////////////////////////////
// header
////////////////////////////
.header{
   position: fixed;
   top: 0;
   left: 0;
   height: 60px;
   z-index: 1;
   text-align: center;
   transition: .3s;
   font-family: $font-family_default;
}
.header--bgColor{
   background: $color_default;
}
.header__title{
    margin: 0;
    font-size: $font-size_xl;
    text-decoration: none;
    color: $font-color_default;
 }
///////////////////////////
// nav
///////////////////////////
.nav-menu{
   @include mq(){
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100vh;
      padding-top: 60px;
      display: block;
      background: rgba($color_default, .85);
      &.active{
         transition: .5s;
         transform: translateX(-100%);
         z-index: 2;
      }
   }
}
.nav-menu__menu{
   display: flex;
   align-items: center;
   margin: 0;
   @include mq(){
      display: block;
   }
}
.nav-menu__list-item{
   color: $font-color_default;
   margin-right: $space_l;
   @include mq(){
      margin-right: initial;
   }
}
.nav-menu__list-item:last-child{
   margin-right: 0;
}
.nav-menu__list-link{
   color: $font-color_default;
   display: block;
   padding: $space_m;
   @include mq(){
      padding: $space_xl;
   }
}
.nav-menu__side{
   border-left: 1px solid gray;
   padding-right: $space_xl;
   padding-left: $space_l;
   width: 100%;
   align-items: center;
   @include mq(){
      border: none;
      padding: initial;
      text-align: center;
   }
}
.nav-menu__side-item{
   width: 100%;
   margin-bottom: $space_s;
}
.nav-menu__side-link{
   display: inline-block;
   padding-top: $space_m;
   padding-bottom: $space_m;
   color: $font-color_dark;
}
.nav-menu__side a:hover{
   border-bottom:1px solid $color_dark;
}
///////////////////////////
// menu-trigger
///////////////////////////
.menu-trigger{
   display: none;
   @include mq(){
      position: relative;
      display: inline-block;
      transition: all .4s;
      z-index: 3;
      width: 60px;
      height: 60px;
      box-sizing: border-box;
   }
}
.menu-trigger__item{
   position: absolute;
   left: 0;
   transition: all .4s;
   box-sizing: border-box;
   border-radius: 4px;
   width: 60px;
   height: 4px;
   background: $color_light;
   &:nth-child(1){
      top: 5px
   }
   &:nth-child(2){
      top: 27px;
   }
   &:nth-child(3){
      bottom: 5px;
   }
}
.menu-trigger.active .menu-trigger__item{
   &:nth-child(1){
      transform: translateY(22px) rotate(45deg);
   }
   &:nth-child(2){
      opacity: 0;
   }
   &:nth-child(3){
      transform: translateY(-24px) rotate(-45deg);
   }
}
//////////////////////////
// form
//////////////////////////
.form{
   width: 100%;  
   box-sizing: border-box;
   padding: $space_xl;
   border-radius: 5px;
   background: $font-color_default;
   color: $font-color_dark;
   font-family: $font-family_default;
   @include mq(){
      height: calc(100vh - 60px);
   }
}
.form--imgUpload{
   @include mq(){
      height: initial;
   }
}
.form__title{
   margin-bottom: $space_xl;
   text-align: center;
   font-size: 50px;
   font-family: $font-family_default;
}
.form__txt{
   margin-bottom: $space_xl;
  font-family: $font-family_default;
}
.form__link{
   display: block;
   text-align: center;
}
.form__half{
   display: flex;
   margin-right: -$space_m;
}
.form__half-area{
   width: calc(100% - #{$space_m});
   margin-right: $space_m;
}
.form__avatar{
   margin-bottom: $space_m;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.form__avatar-icon{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   margin-right: $space_s;
   overflow: hidden;
}
 
.form-msg{
   display: flex;
}
//////////////////////////
// label
//////////////////////////
.label{
   display: block;
   margin-bottom: $space_s;
}
.label--upload{
   margin-bottom: $space_xl;
   border: 1px dashed $color_dark;
   border-radius: 5px;
   box-sizing: border-box;
   padding: $space_m;
   color: $font-color_default;
   cursor: pointer;
   text-align: center;
}
.label--upload::after{
   content: "画像を選択してください";
   color: $font-color_dark;
}
.edit-label{
   border: 1px dashed $color_dark;
   border-radius: 5px;
   box-sizing: border-box;
   padding: $space_m;
   width: calc(100% - 75px);
   text-align: center;
   cursor: pointer;
}
.edit-label::after{
   content: "画像を選択してください";
}
//////////////////////////
// input
//////////////////////////
.input{
   box-sizing: border-box;
   border-radius: 5px;
   border: 1px solid $color_line;
   padding: $space_m;
   font-size: $font-size_default;
   font-weight: 300;
}
.input--form{
   margin-bottom: $space_m;
   width: 100%;
   height: 30px;
   line-height: 30px;
   @include mq(){
      margin-bottom: $space_xl;
      height: 50px;
   }
}
.input--search{
   width: 400px;
   border: none;
   @include mq(){
      width: 280px;
   }
}
.input--search-select{
   height: 40px;
   vertical-align: top;
   border: none;
   @include mq(){
      background: $color_light;
   }
}
.input--tag{
   margin-bottom: $space_m;
   width: 100%;
   @include mq(){
      margin-bottom: $space_xl;
   }
}
.input-file{
   display: none;
}
//////////////////////////
// textarea
//////////////////////////
.txtarea{
   box-sizing: border-box;
   border-radius: 5px;
   font-size: $font-size_default;
   font-weight: 300;
   width: 100%;
}
.txtarea--contact{
   padding: $space_m;
   margin-bottom: $space_m;
   border: 1px solid $color_line;
   height: 150px;
   @include mq(){
      height: 200px;
      margin-bottom: $space_xl;
   }
}
.txtarea--msg{
   border: 1px solid $color_dark;
   padding: $space_s;
}
// imgUpload.php
.txtarea--prev{
   border: 1px solid $color_line;
   height: 190px;
   padding: $space_m;
}
//////////////////////////
// hero
//////////////////////////
.hero{
   position: relative;
}
.hero__crossFade-list{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
}
.hero__crossFade-item{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position:center center;
   background-attachment: fixed;
}
.hero__title{
   width: 100%;
   font-size: 90px;
   color: $font-color_default;
   text-align: center;
   letter-spacing: .5px;
}
.hero__title > br{
   display: none;
}
//////////////////////////
// search
//////////////////////////
.search__body{
   justify-content: center;
   box-sizing: border-box;
   padding: $space_m 0;
   position: relative;
   @include mq(){
      padding: $space_m;
   }
}
.search__body::before,
.search__body::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    border-radius: 5px;
    transition: .5s;
}
.search__body::before{
    left: 50%;
}
.search__body::after{
    right: 50%;
}
.search__body:hover::before,
.search__body:hover::after{
    border: 1px solid $color_dark;
    width: 50%;
    transition: .5s;
}
//////////////////////////
// panel
//////////////////////////
.panel{
   border-radius: 5px;
   width: 100%;
   background: $font-color_default;
   box-sizing: border-box;
   padding: $space_m;
}
.panel__head{
   margin-bottom: 50px;
   padding-right: $space_m;
   padding-left: $space_m;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
}
.panel__auth{
   display:flex;
   align-items: center;
}
.panel__auth-avatar{
   margin-right: $space_m;
   width: 60px;
   height: 60px;
}
.panel__auth-img{
   border-radius: 50%;
}
.panel__auth-name{
   text-align: center;
   font-size: $font-size_xl;
}
.panel__good{
   text-align: center;
}
.panel__body{
   overflow: scroll;
   width: 40%;
   margin-right: auto;
   margin-left: auto;
   @include mq(){
      width: 100%;
   }
}
.panel__img{
   height: 500px;
   margin-bottom: $space_m;
}
.panel__tags{
   margin-bottom: $space_m;
}
.panel__tags-title{
   margin-right: $space_s;
}
.panel__tags .tag{
   margin-right: $space_s;
   padding: $space_s;
   background: gray;
   border-radius: 5px;
}
.panel__cmt{
   word-break: break-all;
   margin-bottom: $space_m;
}
.panel__cmt-title{
   display: block;
}
//////////////////////////
// profile
//////////////////////////
// profile.php
.profile{
   border-radius: 5px;
   box-sizing: border-box;
   padding: $space_m;
   display: flex;
   @include mq(){
      display: block;
   }
}
.profile--myPage{
   margin-bottom: 50px;
}
.profile__avatar{
   overflow: hidden;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin-right: $space_m;
   @include mq(){
      margin: 0 auto;
   }
}
.profile__detail{
   width: 100%;
   position: relative;
}
// .profile__info{
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
// }
.profile__name{
   font-size: 40px;
   @include mq(){
   text-align: center;
    width: 100%;
   }
}
.profile__social{
   @include mq(){
      text-align: center;
      margin-bottom: $space_m;
   }
}
.profile__social-icn{
   margin-right: $space_s;
}
//////////////////////////
// image
//////////////////////////
// signup
.image{
   display: flex;
   flex-wrap: wrap;
   @include mq(){
   display: block;
   flex-wrap: inherit;
   }
}
.image--s{
   margin-right: -$space_m;
   @include mq(){
      margin-right: 0;
   }
}
.image--s.isNone{
   display: none;
}
.image--m{
   margin-right: -$space_xl;
   @include mq(){
      margin-right: 0;
   }
}
.image__item-s{
    width: calc(33.3% - #{$space_m});
    margin-right: $space_m;
    margin-bottom: $space_m;
    @include mq(){
       opacity: 1;
       width: 100%;
       margin-right: 0;
       transition: all 0.4s ease 0s;
    }
}
.image__item-s.isHidden{
   @include mq(){
      opacity: 0;
      height: 0;
      margin: 0;
   }
}
.image__item-s--low{
   height: 200px;
   @include mq(){
      height: 500px;
   }
}
.image__item-s--high{
   height: 600px;
}
.image__item-m{
   width: calc(33.3% - #{$space_xl});
   margin-right: $space_xl;
   margin-bottom: $space_xl;
   height: 500px;
   position: relative;
   @include mq(){
      width: 100%;
      margin-right: 0;
   }
}
.image__item-m::before{
   content: '';
   position: absolute;
   width: 100%;
   top: 0;
   bottom: 0;
   background: rgba(0, 0, 0, .5);
}
.image__item-m:hover::before{
   display: none;
}
.image__item-m:hover .image__icon{
   z-index: 1;
   transform: rotateX(0);
   transition: .5s;
}
.image__icon{
   position: absolute;
   left: 10px;
   bottom: 35px;
   z-index: -1;
   transform: rotateX(0deg);
   transition: .2s;
   color: $font-color_default;
   font-size: $font-size_xxl;
   @include mq(){
      transform: rotateX(0);
   }
}
.image__icon.active{
   color: red;
}
///////// image-container //////////
.image-container{
   width: 100%;
}
.image-container__head{
   display: flex;
   justify-content: space-between;
}
.image-container__title{
   font-size: $font-size_xl;
}
.image-container__total{
   margin-top: auto;
}
//////////////////////////
// prev
//////////////////////////
.prev{
   display: none;
   // overflow: hidden;
   transition: 5s;
}
.prev__group{
   margin-right: -$space_xl;
   margin-bottom: $space_m;
   display: flex;
   box-sizing: border-box;
   @include mq(){
      margin: 0;
      display: block;
      width: 100%;
   }
}
.prev__left{
   width: calc(50% - #{$space_xl});
   height: 400px;
   margin-right: $space_xl;
   /* height: auto; */
   transition: 1s;
   overflow: hidden;
   border-radius: 5px;
   @include mq(){
      margin-right: 0;
      margin-bottom: $space_xl;
      width: 100%;
   }
}
.prev__right{
   width: calc(50% - #{$space_xl});
   margin-right: $space_xl;
   /* height: auto; */
   transition: 1s;
   @include mq(){
      margin: 0;
      width: 100%;
   }
}
//////////////////////////
// mailBox
//////////////////////////
// myPage.php
.mailBox{
   width: 100%;
   margin-bottom: 50px;
}
.mailBox__title{
   border-left: 10px solid orange;
   box-sizing: border-box;
   margin: 0;
   padding-left: $space_m;
}
//////////////////////////
// table
//////////////////////////
// myPage.php
.mailBox > table{
   width: 100%;
   table-layout: auto;
}
.mailBox th{
   text-align: left;
}
thead, tbody {
 display: block;
}
tbody {
 overflow-x: hidden;
 overflow: auto;
 height: 100px;
}
tr td:nth-child(1){
   min-width: 110px;
}
tr td:nth-child(2){
   min-width: 75px;
}
tr td:nth-child(3){
   min-width: 100px;
}
th,td{
   padding-right: $space_m;
  }
td > a{
   color: $font-color_dark;
}
//////////////////////////
// tab
//////////////////////////
// myPage.php
.tab-gruop{
   display: flex;
   margin-bottom: $space_m;
   padding: 0;
}
.tab{
   text-align: center;
   list-style: none;
   cursor: pointer;
   margin-right: $space_s;
}
.tab.isActive{
   border-bottom: 1px solid $color_dark;
}
//////////////////////////
// chat
//////////////////////////
// msg.php
.message{
   width: 100%;
}
.message__head{
   border: 1px solid gray;
   width: 100%;
   height: 100px;
   text-align: center;
   line-height: 100px;
   box-sizing: border-box;
}
.message__title{
   font-size: $font-size_3l;
}
.message__body{
   border: 1px solid $color_dark;
   box-sizing: border-box;
   overflow-y: scroll; 
   padding: $space_m $space_xl;
   height: 400px;
   background: rgba(0,0,0,.8);
   @include mq(){
      height: 470px;
   }
}
.message__body-item{
   margin: $space_xxl 0;
   width: 100%;
   overflow: hidden;
}
.message__body-baloon{
   max-width: 55%;
   position: relative;
}
.message__body-baloon--left{
   float: left;
}
.message__body-baloon--right{
   float: right;
}
.message__body-txt{
   border-radius: 12px;
   display: flex;
   flex-wrap: wrap;
   box-sizing: border-box;
   padding: $space_s $space_m;
   position: relative;
   align-items: center;
}
.message__body-txt::after{
   content: '';
   position: absolute;
   top: 0;
   border: 10px solid transparent;
}
.message__body-baloon--left
.message__body-txt::after{
   left: -10px;
   transform: rotate(45deg);
   transform-origin: top right;
   border-right: 15px solid $font-color_default;
}
.message__body-baloon--right
.message__body-txt::after{
   right: -10px;
   transform: rotate(-45deg);
   transform-origin: top left;
   border-left: 15px solid $color_site-image;
}
.message__body-txt--right{
   background: $color_site-image;
   color: $font-color_default;
}
.message__body-txt--left{
   background: $font-color_default;
}
.message__body-avatar{
   margin-bottom: $space_l;
   display: flex;
   align-items: center;
}
.message__body-icon{
   margin-right: $space_m;
   width: 40px;
   height: 40px;
   overflow: hidden;
   border-radius: 50%;
}
.message__body-name{
   font-size: $font-size_default;
   color: $font-color_default;
}
//////////////////////////
// container
//////////////////////////
.container{
   margin: 0 auto;
}
.container--s{
   width: 30%;
   @include mq(){
      width: 100%;
   }
}
.container--m{
   width: 60%;
   @include mq(){
      width: 100%;
   }
}
.container--l{
   width: 80%;
   @include mq(){
      width: 100%;
      box-sizing: border-box;
      padding: 0 $space_m;
   }
}
.container--l-img{
   width: 80%;
   height: 100vh;
   overflow: hidden;
   @include mq(){
      width: 100%;
   }
}
.container__head{
   margin-bottom: $space_s;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}
.container__title{
   font-size: $font-size_xl;
}
//////////////////////////
// btn
//////////////////////////
.btn{
    padding: $space_m;
    border-radius: 5px;
    border-width: 0;
    transition: .1s;
    font-weight: bold;
    color: $font-color_default;
    cursor: pointer;
    @include mq(){
      font-weight: initial;
      cursor: initial;
    }
 }
 .btn:hover{
    opacity: .8;
    transform: translateY(-1px);
    box-shadow: 1px 3px 10px rgba(0,0,0, .5);
 }
 .btn--header{
    padding-right: $space_xl;
    padding-left: $space_xl;
    background: $color_site-image;
    @include mq(){
       background: initial;
    }
}
.btn--form{
    margin-top: $space_m;
    width: 100%;
    background: $color_site-image;
    font-size: $font-size_default;
    text-align: center;
}
.btn--search{
   vertical-align: top;
   background: $color_site-image;
   @include mq(){
      width: 100%;
      margin-top: $space_m;
   }
}
.btn--twitter{
   display: block;
   background: blue;
   text-align: center;
}
.btn--message{
   width: 15%;
   background: $color_site-image;
}
.btn--prev{
   width: 100px;
   background: $color_site-image;
   @include mq(){
      width: 100%;
   }
}
.btn--link{
   color: $font-color_default;
   background: $color_site-image;
   position: absolute;
   top: 15px;
   right: 0px;
   text-align: center;
   @include mq(){
      position: initial;
      display: block;
   }
}
.btn--more{
   display: none;
   @include mq(){
      display: block;
      width: 100%;
      background: $color_site-image;
   }
}
//////////// btn-container/////////////
.form__prev-btn{
   display: flex;
   margin-bottom: $space_xl;
   justify-content: flex-end;
}
//////////////////////////
// modal
//////////////////////////
.modal{
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,.4);
}
.modal--hero{
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   align-items:center;
}
.modal--backgroundImg{
   position: absolute;
   top: 0;
}
.modal--image-list{
   display: none;
   position: absolute;
   top: 0;
   position: fixed;
   z-index: 3;
   height: 100vh;
   overflow: scroll;
}
.modal--image-list.isOpen{
   display: block;
}
.modal__close{
   position: fixed;
   top: 10px;
   left: 10px;
}
.modal__close-icon{
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   font-size: 36px;
}
///////////////// 
//   pagination
//////////////////
.pagination {
   position: relative;
   overflow: hidden;
   margin-bottom: $space_xl;
 }
 
 .pagination-list {
   position: relative;
   left: 50%;
   float: left;
   padding-left: 0;
   list-style: none;
 }
 
 .pagination .list-item {
   position: relative;
   left: -50%;
   float: left;
   margin-right: $space_s;
 }
 
 .pagination .list-item:last-child {
   margin-right: 0;
 }
 .pagination .list-item a {
   display: block;
   padding: $space_s $space_m;
   background: #eee;
   color: $font-color_dark;
   text-decoration: none;
   font-family: 'Montserrat', sans-serif;
 }
 .pagination .list-item.active a {
   background: $color_default;
   color: $font-color_default;
 }
 
 .pagination .list-item a:hover {
   background: $color_default;
   color: $font-color_default;
 }
 .msg-area{
    color: red;
 }
 ///////////////// 
//   msg-slide
//////////////////
.msg-slide{
   position: fixed;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
   width: 30%;
   height: 60px;
   background: $color_site-image;
   line-height: 60px;
   text-align: center;
   color: $font-color_default;
   font-size: $font-size_default;
   @include mq(){
      width: 100%;
   }
}
//////////////////
//  icon
/////////////////
.fa-heart{
   font-size: 30px;
   display: block;
 }
 .far{
   color: #a8a8a8;
 }
 .fas{
   color: #e7a0c5;
 }
 .fav{
     z-index: 2;
     position: absolute;  
     transition: all .25s;
 }
 .fav2{
     z-index: 1;
     position: absolute;
     opacity: 0;
 }
 .fav.is-active{
     animation: favPushAnimation .2s ease-out;
 }
 .fav2.is-active{
     animation: favMoveAnimation 10s ease-out;
 }
 
 
 
 @keyframes favPushAnimation{
   0%{
     transform: scale(.7);
   }
   100%{
     transform: scale(1);
   }
 }
 @keyframes favMoveAnimation{
   0%{
     opacity: 1;
     z-index: 3;
     transform: translateY(0) translateX(-3px);
   }
   10%{ transform: translateY(-5px) translateX(3px); }
   20%{ transform: translateY(-10px); }
   30%{ transform: translateY(-15px); }
   40%{ transform: translateY(-20px) translateX(-3px); }
   50%{ transform: translateY(-25px); }
   60%{ transform: translateY(-30px); }
   70%{ transform: translateY(-35px) translateX(3px); }
   80%{ transform: translateY(-40px); }
   90%{ transform: translateY(-45px); }
   100%{
     transform: translateY(-50px) translateX(-3px);
     opacity: 0;
   }
 }