//////////////////////////
// 変数
//////////////////////////
$color_default: #333;
$color_site-image: #0b9c32;
$color_line: #d3d3d3;
$color_dark: #000;
$color_light: #fff;

$font-color_default: #fff;
$font-color_dark: #000;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_default: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,cantarell,helvetica neue,ubuntu,sans-serif;